/* used for default values, some custom sizes and color change on focus */

* {
    margin: 0;
    padding: 0;
    font-family: 'Jura', sans-serif;
}

.num-button:focus {
    background: black !important;;
    color: white !important;;
}

.ops-button:focus {
    background: white !important;;
    color: darkorange !important;;
}

.clear-button:focus {
    background: white !important;;
    color: red !important;;
}

.opt-button:focus {
    background: white !important;;
    color: gray !important;;
}

.calculate-button:focus {
    background: black !important;;
    color: #ffef00 !important;;
}
